<% include head %>

<body class=sbody>
	<div class="logo">
		<img src="/images/khk_web2.png" />
	</div>
	<h1 class="searchtitle">KHK Delta Chapter Library Search Engine</h1>
	<form id="search" action="/search-catalog" method="POST">
		<button type="submit" class="searchButton">
			<i class="fa fa-search"></i>Search
		</button>
		<span><input type="text" class="searchTerm" name="searchString" placeholder="What are you looking for?"></span>
	</form>
</body>

<% include foot %>
