<% include head %>

<body class=sbody>
	<div class="logo">
		<img class="khkimg" src="/images/khk_color_union.svg" />
	</div>
	<div class= "name">
		<p class="searchtitle">KHK Delta Chapter Library Search Engine</p>
	</div>
	<div class="wrap">
		<form class="search" action="/search-catalog" method="POST">
			<input type="text" class="searchTerm" name="searchString" placeholder="What are you looking for?">
			<button type="submit" class="searchButton">
				<i class="fa fa-search"></i>Search
			</button>
		</form>
	</div>
</body>

<% include foot %>
