<% include head %>

<body class="rbody">
    <div class="lib-main">
        <% for(var i=0; i<books.length; i++){ %>
            <% include result %>
        <% } %>
    <div>
</body>

<% include foot %>
