<% include head %>

<body class="rbody">
		<% navbar %>
    <form id="search" action="/search-catalog" method="GET">
		<button type="submit" class="searchButton">
			<i class="fa fa-search"></i>Search
		</button>
		<span><input type="text" class="searchTerm" name="searchString" placeholder="What are you looking for?"></span>
	</form>
    <div class="lib-main">
<!--Loops through database and appends book results using the result.js file  -->
        <% for(var i=0; i<books.length; i++){ %>
            <% include result %>
        <% } %>
    <div>
</body>

<% include foot %>
