@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*
Result page CSS styles
*/

.rbody{
    background: #8636B2;
    width: auto;
    height: auto;
}

.lib-main {
    border: 2px solid black;
    background-color: #fff;
    padding: 0px 50px 100px 50px;
}

ul {
    -webkit-padding-start: 25px;
}

.isbn {
    -webkit-padding-start: 0px;
    text-align: center;
    margin: 0 0 0 0;
}

.isbn > p {
    -webkit-padding-start: 0px;
    text-align: center;
    margin: 0 0 0 0;
}


.queries {
    margin: 50px 0px 50px 0px;
    padding: 20px;
    min-height: 200px;
    max-height: none;
}

.preview {
    display:inline-block;
    width: 10%;
    float: left;
}

.info {
    display:inline-block;
    border: 1px solid black;
    width: 89%;
    float: right;
}

.googlelink {
    text-align: center;
}

.clearfix {
    clear: both;
    overflow: auto;
}

.bookinfo > authordate {
    margin: 0 25px 0px 25px;
}

span {
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    font-family: : Open+Sans;
}

.preview img {
    width: 100%;
}

.info > h1 {
    margin: 25px 25px 25px 25px;
    font-size: 24px;
    font-family: : Open+Sans;
}

.info > p {
    margin: 0 25px 25px 25px;
    text-align: left;
    font-size: 20px;
    font-family: : Open+Sans;
}

/*
Search page CSS style
*/


.sbody{
    background: #FCFCFC;
    font-family: 'Hind', sans-serif;
}

.logo {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.logo img {
    width: 100%;
}

/*Main page search button stle*/

#search {
    display: table;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
#search > span {
    display: block;
    overflow: hidden;
}

.searchtitle {
    text-align: center;
    width: 100%;
}

.searchTerm {
    display: table-cell;
    width: 100%;
    height: 1.8em;
    border: 2px solid #8636B2;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: black;
}

.searchButton {
    float: right;
    display: table-cell;
    width: 7em;
    height: 1.8em;
    font-size: 1.32em;
    border: 2px solid #8636B2;
    background: #e5c100;
    text-align: center;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
