@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*
Result page CSS styles
*/

.rbody{
    background: #8636B2;
    width: auto;
    height: auto;
}

.lib-main {
    border: 2px solid black;
    background-color: #fff;
    padding: 0px 50px 100px 50px;
}

.queries {
    margin: 50px 0px 50px 0px;
    padding: 20px;
    min-height: 200px;
    max-height: none;
}

.imgarea {
    display:inline-block;
    width: 10%;
    float: left;
}

.info {
    display:inline-block;
    border: 1px solid black;
    width: 89%;
    float: right;
}
.clearfix {
    clear: both;
}

.extra {
    margin-left: -15px;
}

.imgarea img {
    width: 100%;
}

.info h1, p {
    margin-left: 25px;
    font: sans-serif;
}

.info ul li {
    margin: 0 25px 0 0;
    display: inline;
    list-style-type: none;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
}


/*
Search page CSS style
*/


.sbody{
    background: #949494;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    border: solib black 1px;
    padding-top: 25px;
}

.logo img {
    max-height: 250px;
    width: 100%;
}

.name {
    text-align: center;
}

.search p {
    font-size: 20px;
    font-color: #e5c100;
}

.search {
    padding-top: 20%;
    width: 100%;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #e5c100;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  position: absolute;
  display: inline-block;
  right: -50px;
  height: 36px;
  border: 1px solid #e5c100;
  background: #e5c100;
  text-align: center;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 25%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
